.container {
    align-content: center;
    flex-direction: column;
    margin: 0% 20%;
}



.encabezado {
    align-items: center;
    justify-content: left;
    margin: 0% 10%;
}


.user-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0% 5%;
}

.username {
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

.dropdown a:hover {
    background-color: #ddd;
}

.user-menu:hover .dropdown {
    display: block;
}


.img-menu {
    margin: 1% 2%;
}

.back{
    font-size: 22px;
}

.formulario {
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
   margin:  0% 10%; 
   border: 1px solid #b3b3b3;
   padding: 5%;
   border-radius: 2%;
}

